@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "basecoat-css";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    --font-cascadia: "Cascadia Code", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --color-base-999: #0d0d0d;  /* Aside      */
    --color-base-900: #181716;  /* Background */
    --color-base-800: #2a2727;  /* Container  */
    --color-base-700: #393433;  /* Card       */
    --color-base-500: #453f3d;  /* Button     */
    --color-base-400: #57504d;  /* Border     */
    --color-base-200: #cfcbbf;  /* Unknown    */
    --color-base-100: #f3f4f6;  /* Unknown    */
    --color-font:     #9f9fa9;  /* Text       */
}


/* Global Styles */

.canvas {
    @apply h-full w-full inset-0 -z-100 absolute;
}

.header {
    @apply bg-zinc-900 h-12 flex gap-3 sticky top-0 shrink-0 items-center z-10 pl-10 border-b border-zinc-400/20;
}

.aside {
    @apply w-64 h-screen bg-base-999 text-zinc-300 flex flex-col justify-between sticky top-0 shrink-0 p-4 border-r border-font/20 font-cascadia select-none;
}

.nav {
    @apply flex items-center gap-3 px-3 py-2 rounded-md text-sm hover:bg-zinc-800/50 hover:text-zinc-200 transition-all;
}

.nav-selected {
    @apply flex items-center gap-3 px-3 py-2 rounded-md text-sm bg-zinc-800/80 text-white font-medium;
}

/* Project Card CSS */

.project-container {
    @apply grid gap-5 justify-center p-5 mx-10;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
}

.project {
    @apply flex justify-center bg-slate-200/10 rounded-3xl py-5 backdrop-filter backdrop-blur-xs border border-gray-500 hover:border-white transition-all aspect-square min-w-60 max-w-60 min-h-75 max-h-75;
}

.cours {
    @apply border-zinc-500;
}

.personnel {
    @apply border-slate-500;
}

.project-display {
    @apply flex flex-col items-center cursor-pointer;
}

.project-display-image {
    @apply w-24 h-24 group-hover:scale-110 transition-transform;
}

.project-display-title {
    @apply mt-5 text-2xl font-bold group-hover:text-white;
}

.project-dialog {
    @apply w-[95%] sm:max-w-2xl max-h-[90vh] overflow-y-auto;
}

.project-dialog-content {
    @apply bg-base-800 text-secondary border-base-400 p-5 md:p-10 flex flex-col gap-y-8;
}

.project-header {
    @apply flex flex-row items-center justify-between border-b border-base-400 pb-4;
}

.project-header-title {
    @apply text-3xl font-bold font-montserrat;
}

.project-body {
    @apply flex flex-col gap-y-5 items-center;
}

.project-image {
    @apply w-full border rounded-2xl p-2 border-base-400 bg-[#121212];
}

.project-bubble {
    @apply flex flex-col gap-y-3 rounded-2xl bg-base-700 border border-base-400 w-full;
}

.project-bubble-item {
    @apply flex items-center gap-5 p-2 odd:bg-base-500;
}

.project-bubble-title {
    @apply w-full bg-base-900 p-2 rounded-t-2xl;
}

.project-bubble-title-p {
    @apply text-xl font-bold mb-3 w-fit border-b m-auto;
}

.project-footer {
    @apply flex justify-between;
}

.project-footer-interactive {
    @apply px-10 py-3 rounded-xl font-bold;
}

/* Basecoat Components */

.badge {
    @apply font-cascadia text-sm hover:bg-base-100 hover:text-black mt-0!;
}

.btn-destructive {
    @apply bg-red-400;
}

/* veille.html */

.veille-card {
    @apply bg-zinc-900 wrap-break-word p-5 mt-5 border border-zinc-400/20;
}

.veille-card > h2 {
    @apply text-xl font-bold py-2 mb-3 border-b border-zinc-500;
}

.veille-card > p {
    @apply p-5 bg-base-800;
}
