@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import "tailwindcss";
@import "basecoat-css";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* Color palette source: https://www.color-hex.com/color-palette/74453 */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-cascadia: "Cascadia Code", sans-serif;
    --color-base-900: #181716;  /* Background */
    --color-base-800: #2a2727;  /* Container  */
    --color-base-700: #393433;  /* Card       */
    --color-base-500: #453f3d;  /* Button     */
    --color-base-400: #57504d;  /* Border     */
    --color-base-100: #f3f4f6;  /* Sub Text   */
    --color-highlight: #f59e0b; /* Highlight  */
}

.nav-a {
    @apply cursor-pointer hover:bg-white hover:text-slate-900 rounded-2xl px-2 py-2 transition-colors duration-300 ease-in-out;
}

/* Project Card CSS */

.project-btn {
    @apply flex flex-row text-5xl w-full ml-[15vw] items-center hover:text-amber-500 hover:cursor-pointer;
}

.project-btn svg {
    @apply transition-transform duration-300 ease-in-out;
}

.project-btn.open svg {
    @apply rotate-180;
}

.project-container {
    @apply max-h-0 min-h-0 overflow-hidden opacity-0 transition-all duration-300 transition-discrete grid break-inside-avoid items-start p-6 gap-10 grid-cols-1 md:grid-cols-1 lg:grid-cols-2 max-w-7xl mx-auto;
}

.project-container.open {
    @apply min-h-fit opacity-100;
}

.project-card {
    @apply flex flex-col overflow-hidden bg-base-800 p-5 rounded-2xl h-fit border border-base-400;
}

.pc-top {
    @apply flex flex-row gap-3 text-4xl;
}

.pc-top-title {
    word-spacing: 0rem;
    @apply inset-shadow-[0px_-12px_var(--color-highlight)] whitespace-nowrap;
}

.pc-mid {
    @apply p-2 my-0 text-base-100 max-h-0 min-h-0 overflow-hidden opacity-0 transition-all duration-300 transition-discrete;
}

.pc-bot {
    @apply bg-base-700 p-5 rounded-2xl;
}

.pc-bot-badges {
    @apply flex flex-wrap gap-2 justify-center max-h-0 min-h-0 overflow-hidden opacity-0 transition-all duration-300 transition-discrete;
}

.project-card.open .pc-mid {
    @apply min-h-55 opacity-100 flex items-center;
}

.project-card.open .pc-bot-badges {
    @apply min-h-fit opacity-100;
}

.pc-toggle svg {
    @apply transition-transform duration-300 ease-in-out;
}

.project-card.open .pc-toggle svg {
    @apply rotate-180;
}

/* Basecoat Components */

.badge {
    @apply font-cascadia text-sm hover:bg-base-100 hover:text-black mt-0!;
}

.btn-destructive {
    @apply bg-red-400;
}

/* Bubble CSS */

.bubble {
    @apply bg-base-700 p-5 rounded-2xl mt-5 border border-base-400 w-full;
}

.bubble-title {
    @apply text-xl font-bold mb-3 w-fit border-b;
}

.bubble-container {
    @apply flex flex-col md:flex-row text-white text-sm overflow-hidden;
}

.bubble-content {
    @apply flex flex-col w-full md:w-[50%] font-cascadia;
}

.bubble-content-p {
    @apply flex flex-row items-center;
}

.bubble-content-i {
    @apply w-5 h-5 my-4;
}
